.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picholder {
  /* Desis experiment */
  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin-top: -60px;
  height: 650px;
  width: 100%;

  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.freeship {
  background-color: #d8ffca;
  font-weight: 600;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
}

.Landing-start {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  /* background-color: aquamarine; */
}

.rad {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  height: 200px;
}

.news {
  background: #d8ffca;
  width: 100%;
  text-align: center;
  
  margin: 1.5rem 0;
  padding: 2rem 2rem;
}

.slider {
  text-align: center;
  max-width: 1000px;
  margin-top: 1.5rem;
}

.banner {
  width: 100%;
  height: 350px;

  display: flex;
  justify-content: center;
  align-items: end;

  background-image: url(../assets/skate-here.jpg);
  background-size: cover;
  background-position: center;

  margin-top: 40px;
}

.skate {
  margin-bottom: 20px;
  background-color: #d8ffca;
}

.four-by-four{
  width: 100%;
  margin: 1.5rem 0;

}
.twopicone {
  display: flex;
  justify-content: space-between;
  
  height: 250px;
  width: 100%;
  margin-top: 1rem;
}

.img{
  width: 49%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  
  display: flex;
  align-items: end;
  justify-content: end;
  display: flex;
  align-items: end;
}

.img1{
  background-image: url('../assets/img1.jpg');
  justify-content: end;
  
}

.img2{
  background-image: url('../assets/img2.jpg');
  justify-content: start;
}

.img3{
  background-image: url('../assets/img3.jpg');
  justify-content: end;
}

.img4{
  background-image: url('../assets/img4.jpg');
  justify-content: start;
}



.specialtext {
  background: #d8ffca;
  font-size: 1.3rem;
  font-weight: 600;
}
.img1>.specialtext {
  padding: 0 15px 0 5px;
 }
 .img2>.specialtext {
  padding: 0 5px 0 15px;
 }




.click {
  cursor: pointer;
}


.twopictwo {
  display: flex;
  width: 800px;
  height: 200px;
  padding: 8px;
  justify-content: space-between;
}

.bildotext {
  background-image: url(../assets/placeholder.jpg);
  width: 49%;
  height: 100%;
  display: flex;
  align-items: end;
}


.bannertwo {
  display: flex;
  background-image: url(../assets/placeholder.jpg);
  width: 100%;
  height: 250px;
  margin-top: 30px;
  justify-content: center;
}


.slider img {
  width: 100%;
  display: flex;
  align-items: center;
}

.slider p {
  text-align: center;
  margin-top: 10px;
}

.pic {
  display: flex;
  background-image: url(../assets/placeholder.jpg);
  width: 100%;
  height: 100%;
}
