nav {
  text-align: center;
  width: 100%;
  background: #bebebe;
  height: 60px;
  position: relative;
}

nav ul {
  background: #bebebe;
  list-style: none;
  padding: 0 20px;
  height: 60px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #5a4e91;
  display: block;
  padding: 0px 40px;
  text-decoration: none;
  float: left;
  height: 60px;
  line-height: 60px;
}

nav ul li:hover {
  /* background: #333333; */
}

nav ul li:hover > a {
  color: rgb(255, 124, 124);
}

/* Det här som får det att fungera */
nav ul li:hover > ul {
  display: block;
  height: fit-content;
}

nav ul ul {
  background: #78fff67d;
  text-align: center;
  display: none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}

.column a {
  float: none;
}
.column a:hover {
  color: rgb(255, 124, 124);
}
