.frame {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  font-family: "Roboto", sans-serif;
  padding: 50px 100px 50px 100px;  
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
