.content-container {
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}

.bg-img{
  height: 500px;
  width: 100%;
  background-image: url('../assets/hero.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
}