.frame {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  font-family: "Roboto", sans-serif;
  margin-top: 60px;  
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.bg-img{
  height: 500px;
  width: 100%;
  background-image: url('../assets/hero.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
}